*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background: #E6E6E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
header a{
    font-size: 20px;
    text-decoration: none;
    background: #005677;
    color: white;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
}
header div{
    padding: 15px;
    border-radius: 12px;
}
header a:hover{
    background: white;
    color: black;
}
header img{
    width: 200px;
    height: 250px;
    object-fit: cover;
  
}
div{
  
    background: #C4C4C4;
    padding-left: 30px;
   
}
.title{
    text-align: center;
}
h1, h3{
    
    letter-spacing: 5px;
    color: #005677;
}
span{
    font-weight: 900;
}
.content, ul{
    padding-left: 30px;
}

footer{
    background: #005677;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    gap: 20px;
}